<head>
    <link rel="stylesheet" href="/css/dashboard/settings/styles.css">
</head>

<section id="settings" class="dashboard-section">
    <h2>Configure Settings</h2>
    <form id="settings-form">
        <label for="site-title">Site Title:</label>
        <input type="text" id="site-title" name="site-title" value="<%= settings.siteTitle %>">

        <label for="display-mode">Dark Mode:</label>
        <label class="switch">
            <input type="checkbox" id="switch" name="display-mode" <% if (settings['website-settings-display-mode'] === 'dark') { %>checked<% } %> onchange="document.getElementById('switch').value = document.getElementById('switch').checked ? 'on' : 'off';">
            <span class="slider"></span>
        </label>
        
        <button type="submit">Save Settings</button>
    </form>
</section>
